#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define LEFT 1
#define RIGHT 2
#define BOTH 3

/ {
	conditional_layers {
		compatible = "zmk,conditional-layers";

		both_layer {
			if-layers = <LEFT RIGHT>;
			then-layer = <BOTH>;
		};
	};

	keymap {
		compatible = "zmk,keymap";

		base_layer {
			bindings = <
				&none  &kp Q  &kp W  &kp E  &kp R  &kp T      &kp Y  &kp U  &kp I      &kp O    &kp P     &none
				&none  &kp A  &kp S  &kp D  &kp F  &kp G      &kp H  &kp J  &kp K      &kp L    &kp SEMI  &none
				&none  &kp Z  &kp X  &kp C  &kp V  &kp B      &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &none

				&kp LCTRL &mo LEFT  &kp SPACE      &kp RET  &mo RIGHT  &kp LSHIFT
			>;
		};

		left_layer {
			bindings = <
				&none  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5      &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &none
				&none  &kb TAB &kb LSHIFT &trans  &kb PG_UP &kb PG_DN &kb APOS &kp LEFT &kp DOWN &kp UP &kp RIGHT &none
				&none  &kb ESC &kb F1 &kb F2 &kb F3 &kb F4			&kb F5 &kb F6 &kb F7 &kb F8 &kb BSPC &none

				&kb LGUI &trans  &trans      &kb RALT &trans  &trans
			>;
		};

		right_layer {
			bindings = <
				&none  &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT      &kp CARET  &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR  &none
				&none  &kb GRAVE &trans    &trans     &trans    &trans         &kp MINUS  &kp EQUAL &kp LBKT  &kp RBKT  &kp BSLH  &none
				&none  &kb TILDE &kb F9 &kb F10 &kb F11 &kb F12				&kp UNDER  &kp PLUS  &kp LBRC  &kp RBRC  &kp PIPE  &none

				&trans  &trans  &trans      &trans  &trans  &trans
			>;
		};

		both_layer {
			bindings = <
				&none  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &none
				&none  &kb CAPS &trans  &trans  &trans  &trans      &trans  &kp HOME &kp PG_DN &kp PG_UP &kp END &none
				&none  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &kp DEL &none

				&trans  &trans  &trans      &trans  &trans  &trans
			>;
		};
	};
};
